<div class="middle">
 <img src="../assets/notfound.png">
 <div class="middle">
   <!--"btn" is a Bootstrap class used to style buttons. It applies basic button styles, such as padding,
       border, and text color.
"btn-primary" is a Bootstrap class that gives the button a primary color. In most cases, the primary color
 is a shade of blue, indicating the main action or emphasis.
"cart-btn-transform" seems to be a custom class or a class defined in your project's CSS or added by a 
third-party library. Without further information, it's difficult to determine its exact purpose or styling.
 It could potentially include styles to transform the button's appearance or add specific effects related to
  a cart functionality.
"m-3" is a Bootstrap class that adds margin spacing around the button. The "m" stands for "margin," and the "3" represents a moderate margin size. It creates some space around the button, separating it from other adjacent elements.-->
    <button class="btn btn-primary cart-btn-transform m-3"  (click)="home()">Continue Shopping</button>
 </div> 
</div>